body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.profile-photo {
    width: 100px; /* Double the original size */
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

header .portfolio-title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-family: 'Roboto Slab', serif; /* Apply Roboto Slab font */
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#skills li {
    margin-bottom: 30px; 
}

#portfolio {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.work-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.work-item h2 {
    margin-top: 0;
}

.work-item p {
    color: #555;
}

.work-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.work-item a:hover {
    background-color: #0056b3;
}

.work-item img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-icon {
    margin: 0 10px;
    font-size: 2rem;
    color: #007bff;
    text-decoration: none;
}

.contact-icon:hover {
    color: #0056b3;
}
